@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');

html {
     cursor: url(./assets/ff_cursor.cur), auto;
}
body{
     background-color: aliceblue;
}


#welcomeBanner{
     width: 100%;
     height: 200px;
     object-fit:cover;
     object-position: 0px -230px;
}

h1{
     font-family: 'Amethysta', serif;
}